.editor {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  --mainColor: #4af;
  --menu: 200px;
  transform-style: preserve-3d;
  overflow: hidden;
}

.viewer {
  position: absolute !important;
  left: 0px;
  top: 0px;
  width: calc(100% - var(--menu));
  height: 100%;
}

.viewport-container {
  position: relative;
  box-sizing: border-box;
  background: #fff;
}
.viewport {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 10px dashed #eee;
  overflow: hidden;
}

.menu {
  position: absolute;
  right: 0;
  width: 200px;
  height: 100%;
  background: white;
  z-index: 3001;
  transform: translateZ(10px);
  box-sizing: border-box;
  padding-top: 30px;
  transition: width ease 0.2s;
  text-align: left;
  user-select: none;
  border-left: 1px solid #eee;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.menu h3 {
  margin: 0;
  margin-bottom: 4px;
}

.history-layers {
  flex: 1;
}
.history-images {
  gap: 8px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.history-image {
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.history-image img {
  max-width: 38px;
  max-height: 38px;
}
.history-image svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 20px;
  line-height: 38px;
}

.menu-layers {
  height: 400px;
  overflow: auto;
}
.menu-layer img {
  width: 20px;
  height: 20px;
  border-radius: 4px;
  margin-right: 8px;
}
.menu-layer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 24px;
  margin: 4px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.menu-layer-selected {
  background-color: #e6f4ff;
  color: #1677ff;
}
.menu-layer:hover {
  background:rgba(0,0,0,0.06)
  
}

.tool-bar {
  position: absolute;
  left: calc(50% - var(--menu) / 2);
  top: 10px;
  transform: translateX(-50%);
  background: inherit;
  z-index: 3001;
  padding: 0 16px;
  box-sizing: border-box;
}

.tool-bar-item {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px;
  cursor: pointer;
}

.tool-bar-item-disabled {
  color: #ccc;
  cursor: not-allowed;
}

.tool-bar-item-selected {
  background: var(--mainColor);
  color: white;
}

.export-dropdown {
  padding: 4px;
  list-style-type: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border-radius: 8px;
  outline: none;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}